<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>AD Password Notificator</comment>
<entry key="password">qwerty</entry>
<entry key="domaincontroler">172.16.0.100</entry>
<entry key="username">administrator</entry>
<entry key="clientsubject">Password notification</entry>
<entry key="mail.host">dc</entry>
<entry key="maximumPasswordAge">180</entry>
<entry key="hour">3</entry>
<entry key="time">03:00</entry>
<entry key="ldapport">389</entry>
<entry key="port">25</entry>
<entry key="enable">true</entry>
<entry key="basedn">DC=TEST,DC=COM</entry>
<entry key="postmaster">administrator@test.com</entry>
<entry key="from">postmaster@yourpostdomain.com</entry>
<entry key="usertext"> Dear %username%! Your password expires in %days% days. To change your password go to &lt;http://changepass.com&gt; </entry>
<entry key="sheduletype">0</entry>
<entry key="adminsubject">password of %users% expired</entry>
<entry key="expire">5</entry>
<entry key="sendtousers">true</entry>
<entry key="date"/>
<entry key="dayofweek">1</entry>
<entry key="mailID"/>
<entry key="domain">TEST</entry>
</properties>
